@model Phase_1.Models.Product
@using Phase_1.Models;

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/ProjectViews/_ProjectLayout.cshtml";
}

<!-- breadcrumb part start-->
<section class="breadcrumb_part single_product_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="product_img_slide owl-carousel">
                    <div class="single_product_img">
                        <img src="~/Images/@Model.Image" alt="#" class="img-fluid">
                    </div>
                    <div class="single_product_img">
                        <img src="~/Images/@Model.Image" alt="#" class="img-fluid">
                    </div>
                    <div class="single_product_img">
                        <img src="~/Images/@Model.Image" alt="#" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="single_product_text text-center">
                    <h3>
                        @Html.DisplayName(Model.Name) <br>
                        @if (Model.CategoryID == 1)
                        {
                                                      <h5> ( Men ) </h5>
                        }
                        else
                        {
                            if (Model.CategoryID == 2)
                            {
                                                      <h5> ( Women ) </h5>
                            }
                            else
                            {
                                if (Model.CategoryID == 3)
                                {
                                                      <h5> ( Shoes ) </h5>
                                }
                                else
                                {
                                    if (Model.CategoryID == 4)
                                    {                                        
                                                      <h5> ( Nicklas ) </h5>
                                    }
                                    else
                                    {
                                        if (Model.CategoryID == 5)
                                        {
                                                      <h5> ( Rings ) </h5>
                                        }
                                    }
                                }
                            }
                        }
                    </h3>
                    <p>
                        @{
                            if (Model.Description == null)
                            {
                               <p>No Descreption</p>
                            }
                            else
                            {
                                Html.DisplayName(Model.Description);
                            }

                        }
                    </p>

                    <div class="card_area">
                        <div class="product_count_area">
                            <p>@Html.DisplayName(Model.Price + " $") <br></p>
                        </div>
                    </div>
                    @Html.ActionLink("Update", "UpdateProduct", null, new { Id = Model.Id }, new { @class = "genric-btn info radius e-large" })

                    @Html.ActionLink("Delete", "Delete", null, new { Id = Model.Id }, new { @class = "genric-btn danger radius e-large" })


                </div>
        </div>
    </div>
</div>
</div>
<!--================End Single Product Area =================-->
<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->
